body {
  background-color: grey;
}
h1 {
  text-align: center;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  padding: 1rem;
}